body {
    font-family: Roboto, sans-serif;
    color: #2E2F42;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
}

ul {
    list-style: none;
}

.logo {
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #2E2F42;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.logo:hover,
.logo:focus {
    color: #4D5AE5;
}

.logo span {
    color: #4D5AE5;
}

.footer-logo {
    color: #4D5AE5;
}

.footer-logo .studio {
    color: #E7E9FC;
}

.nav-list {
    padding: 0;
    margin: 0;
}

.nav-list a {
    color: #2E2F42;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-list a:hover,
.nav-list a:focus {
    color: #404BBF;
}

address {
    font-style: normal;
}

.address-list {
    padding: 0;
    margin: 0;
}

.address-list a {
    color: #434455;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-list a:hover,
.address-list a:focus {
    color: #404BBF;
}

h1 {
    color: #FFFFFF;
    margin: 0 0 30px 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-section {
    background-color: #2E2F42;
    padding: 120px 0;
    text-align: center;
}

button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
}

button:hover,
button:focus {
    background-color: #404BBF;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.features-list {
    padding: 0;
    margin: 0;
}

.team-section {
    background-color: #F4F4FD;
    padding: 20px 0;
}

.team-list {
    padding: 0;
    margin: 0;
}

.team-list li {
    background-color: #FFFFFF;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
}

.team-list img {
    background-color: #F4F4FD;
    border-radius: 4px;
    display: block;
    margin-bottom: 20px;
}

.portfolio-list {
    padding: 0;
    margin: 0;
}

.portfolio-list li {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 4px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.portfolio-list img {
    background-color: #F4F4FD;
    border-radius: 4px;
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

footer {
    background-color: #2E2F42;
    text-align: center;
    padding: 40px 0;
}

footer .logo {
    display: inline-block;
    margin-bottom: 20px;
}

footer p {
    color: #E7E9FC;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}